@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro de Clientes</h1>
    <br>
    <br>
    <figure>
        <img src=".\img\logo.png">
    </figure>
   <figcaption>A aluna Rafaela Alves, junto com a Etec MCM agradece seu engajamento </figcaption>
   <br>
    <a role="button"  class="btn btn-success">LIKE</a>
</div>

