@{
	ViewData["Title"] = "Atualiza Clientes";
}

<h1>Atualiza Clientes</h1>
<form action="/action_page.php">
	<label for="nome">Nome:</label><br>
	<input type="text" id="fname" name="fname" value="Rafaela">
	<br><br/>

	<label for="email">"Email:"</label><br>
	<input type="text" id="lname" name="lname" value="rrafinhaalvess@gmail.com">
	<br><br>

	<label for="telefone">"Telefone:"</label><br>
	<input type="text" id="lname" name="lname" value="11969421861">
	<br><br />

	<input type="button" value="Atualizar">
</form>